<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>SyncVault File Provider</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.syncvault.app.fileprovider</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SyncVaultFileProvider</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>2.5.23</string>
	<key>CFBundleVersion</key>
	<string>2.5.23</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionFileProviderAllowsProvidingData</key>
		<true/>
		<key>NSExtensionFileProviderDocumentGroup</key>
		<string>DE59N86W33.com.syncvault.shared</string>
		<key>NSExtensionFileProviderSupportsEnumeration</key>
		<true/>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.fileprovider-nonui</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).FileProviderExtension</string>
	</dict>
</dict>
</plist>
